@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --c-neutral-50: 250, 250, 250;
  --c-neutral-100: 245, 245, 245;
  --c-neutral-200: 229, 229, 229;
  --c-neutral-300: 212, 212, 212;
  --c-neutral-400: 163, 163, 163;
  --c-neutral-500: 115, 115, 115;
  --c-neutral-600: 82, 82, 82;
  --c-neutral-700: 64, 64, 64;
  --c-neutral-800: 38, 38, 38;
  --c-neutral-900: 23, 23, 23;
}